@charset "UTF-8";
* {
  box-sizing: border-box;
}

.navbar {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: #222222;
}

hr {
  opacity: 10%;
}

button.sign-up {
  background: linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
  border: none;
}
button.sign-up:hover {
  background: linear-gradient(180deg, rgb(42, 75, 125) 70%, rgb(5, 69, 163) 100%);
}

button.log-ın {
  border: 5px solid linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
}
button.log-ın:hover {
  background: linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
}

.header-sign-up-today {
  background: linear-gradient(180deg, rgb(70, 142, 249) 30%, rgb(12, 102, 238) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", serif;
}

.header-the-world {
  font-family: "Poppins", serif;
}

.header-fastest {
  background: linear-gradient(180deg, rgb(70, 142, 249) 59%, rgb(12, 102, 238) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-get-started {
  background: linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
  border: none;
}
.header-get-started:hover {
  background: linear-gradient(180deg, rgb(42, 75, 125) 70%, rgb(5, 69, 163) 100%);
}

.header-download-app:hover {
  background: linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
}

@media (min-width: 992px) {
  .header-before-after::before {
    content: url(../img/purple-circle.svg);
    position: absolute;
    bottom: -15%;
    left: -15%;
  }
  .header-before-after::after {
    content: url(../img/purple-star.svg);
    position: absolute;
    top: 0%;
    right: 15%;
  }
}
header {
  font-family: "Poppins", serif;
  background: linear-gradient(158deg, rgb(247, 237, 255) 0%, rgb(249, 253, 255) 32%, rgb(230, 240, 255) 63%, rgb(249, 251, 255) 100%);
}

.paragraph {
  font-family: "Poppins", serif;
  color: #666666;
}

@media (max-width: 575.98px) {
  .header-download-app, .header-get-started {
    display: block;
    width: 100%;
  }
}
.crypto-container {
  position: relative;
  top: -2.5rem;
  background-color: #FFFFFF;
}

.crypto-container img.img-fluid {
  height: 2rem;
}

@media (max-width: 992px) {
  .border-end {
    border: none !important;
  }
}
/*-------------------BUY TRADE------------------*/
.input-group-text {
  border-color: rgb(70, 142, 249);
  color: rgb(70, 142, 249);
  height: 3.5rem;
  border-radius: 22px;
}

.form-control, .form-control:focus {
  box-shadow: none;
  border-left: none;
  border-color: rgb(70, 142, 249);
  border-radius: 22px;
}

.vertical {
  height: 2rem;
  border-right: 1px solid rgb(70, 142, 249);
  margin-left: 1rem;
}

.vertical2 {
  height: 2rem;
  border-right: 1px solid rgb(70, 142, 249);
  margin-left: 3rem;
}

.btn, .btn:hover, .btn:active {
  height: 3.5rem;
  border-color: rgb(70, 142, 249);
  border-radius: 22px;
}

.buy-now {
  width: 100%;
  background: linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
  border: none;
}
.buy-now:hover {
  background: linear-gradient(180deg, rgb(42, 75, 125) 70%, rgb(5, 69, 163) 100%);
}

.buy-trade-h3 {
  font-family: "Poppins", serif;
  font-size: 2rem;
  line-height: 52px;
  color: #222222;
}

.buy-trade-p {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
}

/* Trusted Partners Worldwide */
.trusted {
  background: url(/img/trusted.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.trusted-h3 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #222222;
  text-align: center;
}

.trusted-p {
  font-family: "Poppins", serif;
  font-size: 18px;
  color: #666666;
  text-align: center;
  font-weight: 400;
  line-height: 27px;
}

/* nefa credit card */
.nefa-card-h3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  color: #222222;
}

.nefa-card-h3 span {
  background: linear-gradient(180deg, rgb(70, 142, 249) 59%, rgb(12, 102, 238) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nefa-card-p {
  font-family: "Poppins", serif;
  font-size: 15px;
  color: #666666;
  font-weight: 400;
  line-height: 22.5px;
}

.nefa-card ul li {
  font-family: "Poppins", serif;
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  line-height: 30px;
}

.nefa-card ul li::before {
  content: url(/img/blue-check.svg);
  margin-right: 10px;
  vertical-align: sub;
}

@media (min-width: 576px) {
  .nefa-card-button {
    width: 240px;
    height: 72px;
    border-radius: 40px;
    padding: 10px;
    gap: 5px;
    border: 2px solid linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
  }
  .nefa-card-button:hover {
    background: linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
    width: 240px;
    height: 72px;
    border-radius: 40px;
    padding: 10px;
    gap: 5px;
  }
}
.nefa-card-button {
  width: 100%;
  height: 72px;
  border-radius: 40px;
  padding: 10px;
  gap: 5px;
}
.nefa-card-button:hover {
  background: linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
  width: 100%;
  height: 72px;
  border-radius: 40px;
  padding: 10px;
  gap: 5px;
}

/* Advanced Trading Tools */
.advanced-h2 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #222222;
}

.advanced-h2 span {
  background: linear-gradient(180deg, rgb(70, 142, 249) 59%, rgb(12, 102, 238) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advanced-h5 {
  font-family: "Poppins", serif;
  font-size: 18px;
  color: #222222;
  font-weight: 500;
  line-height: 27px;
}

.advanced-p {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  line-height: 26px;
}

.advanced-button {
  width: 100%;
  height: 72px;
  border-radius: 40px;
  padding: 10px;
  gap: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  border: 2px solid linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
}
.advanced-button:hover {
  background: linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
  width: 100%;
  height: 72px;
  border-radius: 40px;
  padding: 10px;
  gap: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

@media (min-width: 576px) {
  .advanced-button {
    width: 240px;
    height: 72px;
    border-radius: 40px;
    padding: 10px;
    gap: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    border: 2px solid linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
  }
  .advanced-button:hover {
    background: linear-gradient(180deg, rgb(70, 142, 249) 70%, rgb(12, 102, 238) 100%);
    width: 240px;
    height: 72px;
    border-radius: 40px;
    padding: 10px;
    gap: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
}
.advanced-link {
  font-family: "Poppins", serif;
  font-size: 18px;
  color: #2F7CF0;
  font-weight: 500;
  line-height: 27px;
}

/* security */
.security-h2 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #222222;
}

.security-h5 {
  font-family: "Poppins", serif;
  font-size: 18px;
  color: #222222;
  font-weight: 500;
  line-height: 27px;
}

.security-h5::before {
  content: url(/img/blue-check.svg);
  margin-right: 10px;
  vertical-align: sub;
}

.security-p {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  line-height: 26px;
}

.security span {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  line-height: 26px;
  text-decoration: underline;
  font-style: solid;
}

/* Get started in just a few minutes */
section.minutes {
  background-image: url(/img/minutes-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.minutes-h5 {
  font-family: "Poppins", serif;
  font-size: 18px;
  color: #222222;
  font-weight: 500;
  line-height: 37.5px;
}

.minutes-p {
  font-family: "Poppins", serif;
  font-size: 17px;
  color: #666666;
  font-weight: 400;
  line-height: 25.5px;
}

.divider {
  background: linear-gradient(180deg, rgb(70, 142, 249) 59%, rgb(12, 102, 238) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  margin-bottom: 100px;
}

.divider i {
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */