@use '../abstracts/variables' as v;
.accordion-button:not(.collapsed){
    background-color: white !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion{
    --bs-accordion-border-width: none;
    --bs-accordion-bg: white;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #CCCCCC;
}

.accordion-header{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.accordion-body{
    font-family: "Poppins", serif;
    font-size: 18px;
    color: v.$color-text;
    font-weight: 400;
    line-height: 29px;
}